body{
    margin: 0;
    margin: 0 100px;
}

.full-width{
    display: flex;
    background-image: url(../Food_Shop/images/Frame\ 58.jpg);
}
p{
    color: dimgray;
    font-size: 20px;
 }

/* section 1 */

.paragraph h1{
    font-size: 50px;
    line-height:130%;
}
.paragraph h1 span{
    color:rgb(91, 228, 137);
}
#span-2{
    color:orange;
}
a{
    text-decoration: none;
    background-color: tomato;
    border-radius:3px ;
    background-image: linear-gradient(tomato , orange);
    padding: 10px 30px;
}
.left-right{
    width: 50%;
}
.paragraph{
    padding: 3%;
}
/* section-2 */

.recipes-heading{
    text-align: center;
    background-image: url(../Food_Shop/images/_31d8d468-b93a-11e6-90a3-d2b8563aec4d.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -3.6%;
    padding-bottom:30%;
}
.recipes-heading h1{
    padding-top: 70px;
    color: gold;
    font-size: 60px;
    text-align: center;
}
.recipes-heading p{
   color: rgb(150, 28, 28);
   padding-top: 100px;
}

/* section 3 */

.recipe-image{
    padding: 5%;
    padding-left: 15%;
}

.first-recipe{
    width: 30%;
    box-shadow: gray 10px 10px 10px 10px;
    border-radius: 10px;
    padding: 30px;
    text-align: justify;
}
.first-recipe h3{
    color: rgb(145, 51, 66);
}

.second-recipe{
    width: 30%;
    box-shadow: gray 10px 10px 10px 10px;
    border-radius: 10px;
    padding: 30px;
    text-align: justify;
    margin-left: 2%;
    padding-top: 5%;

}
.second-recipe h3{
    color: rgb(145, 51, 66);
}
.second-recipe p{
    margin-top: 12%;
}
.vegetable-para{
    padding-top: 13%;
    
}
.third-recipe{
    width: 30%;
    box-shadow: gray 10px 10px 10px 10px;
    border-radius: 10px;
    padding: 30px;
    text-align: justify;
    margin-left: 2%;
    
   
}
.third-recipe h3{
    color: rgb(145, 51, 66);
    
}
/* section 4 */

/* follwers section */
.youtube{
    width: 25%;
}
.facebook{
    width: 25%;
}
.instagram{
    width: 25%;
}
.dribble{
    width: 25%;
}
.follwers{
    box-shadow: gray 10px 10px 10px 10px;
    border-radius: 05px;
    display: flex;
    text-align: center;
    margin-top: 5%;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(169, 236, 208);
    background-image: url();
    padding: 2%;

}
/* section 5 */
/* .about section */
.about-para{
    text-align: center;
    padding: 10%;
    text-align: justify;
}
.about-para h2{
    color: rgb(151, 91, 102);
}
.about-para h5{
    margin-right: 70%;
    color: rgb(206, 155, 26);
}
/* section 6 */
/* footer section */

.footer{
    /* background-image: url(../Food_Shop/images/nls\ nourish\ bg.jpg); */
     text-align: center;
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-color: black;
    margin-top: -2.5%;
}
.footer h3{
    color: rgb(40, 167, 61);
    font-size: 30px;
}
.footer p span{
    color:coral;
    font-size: 15px;   
}
.footer p{
    font-size: 12px;
    color: red;
}












