body{
    margin: 0;
    font-family: "Poppins",sans-serif;
    background-color: gray;
  
}
.full-width{
    display: flex;
    background-image: url(../Food_Shop/images/Frame\ 58.jpg);
}
a{
    text-decoration: none;
    background-color: tomato;
    border-radius:3px ;
    background-image: linear-gradient(green,tomato,pink orange,green);
    padding: 10px 30px;
    color:rgb(253, 250, 250);
}
p{
    color: dimgray;
    font-size: 20px;
}
 .about-para a{
    text-decoration: none;
    background-color: tomato;
    border-radius:3px ;
    background-image: linear-gradient(green,tomato,pink orange,green);
    padding: 10px 30px;
    font-size: 20px;
}
/* section 1 */

.paragraph h1{
    font-size: 50px;
    line-height:130%;
    padding-bottom: 3%;
}
.paragraph h1 span{
    color:rgb(91, 228, 137);
}
#span-2{
    color:orange;
}

.left-right{
    width: 50%;
}
.paragraph{
    padding: 1%;
    margin-left: 2%;
 
}
.left-right img{
    padding-right: 13%;
    padding-top: 14%;
}
/* section-2 */

.recipes-heading{
    text-align: center;
    background-image: url(./images/office-goers-2-removebg-preview.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom:40%;
    padding: 5%;
    font-size: 20px;
    text-align: justify;
  
}

.recipes-heading p h1{
    font-size: 30px;
}
.recipes-heading p{
    padding:50px;
}

/* section 3 */

.recipe-image{
    padding: 5%;
    padding-left: 15%;
}

.first-recipe{
    width: 30%;
    box-shadow: gray 10px 10px 10px 10px;
    border-radius: 10px;
    padding: 30px;
    text-align: justify;
}
.first-recipe h3{
    color: rgb(145, 51, 66);
}

.second-recipe{
    width: 30%;
    box-shadow: gray 10px 10px 10px 10px;
    border-radius: 10px;
    padding: 30px;
    text-align: justify;
    margin-left: 2%;
    padding-top: 5%;

}
.second-recipe h3{
    color: rgb(145, 51, 66);
}
.second-recipe p{
    margin-top: 12%;
}
.vegetable-para{
    padding-top: 13%;
    
}
.third-recipe{
    width: 30%;
    box-shadow: rgb(124, 123, 123) 10px 10px 10px 10px;
    border-radius: 10px;
    padding: 30px;
    text-align: justify;
    margin-left: 2%;
    
   
}
.third-recipe h3{
    color: rgb(145, 51, 66);
    
}
/* section 4 */

/* follwers section */
.youtube{
    width: 25%;
}
.facebook{
    width: 25%;
}
.instagram{
    width: 25%;
}
.dribble{
    width: 25%;
}
.follwers{
    box-shadow: gray 10px 20px 20px 10px;
    border-radius: 05px;
    display: flex;
    text-align: center;
    margin-top: 1%;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(228, 198, 198);
    background-image: url();
    padding: 2%;
    padding-top: 5%;
    padding-bottom: 5%;
    color: rgb(37, 212, 95);

}
/* section 5 */
/* .about section */
.about-para{
    padding: 10%;
    text-align: justify;
    font-family: "Poppins",sans-serif;
    line-height: 150%;
}
.about-para h4{
    margin-right: 70%;
    color: rgb(13, 204, 23);
    
}
.about-para p{
    color: red;
}

/* section 6 */
/* footer section */

.footer{
    background-color: black;
    text-align: center;
    margin-top: -1.49%;
    padding-bottom: 2%;
    padding-top: 5%;
    
}
.footer h3{
    color: rgb(73, 224, 111);
    font-size: 40px;
    margin-top: -0px;
}
.footer p span{
    color:#89b81c;
    font-size: 20px; 
     
}
.footer p{
    font-size: 13px;
    color: #f80909;
    padding-top: 10px;
}












